div
  .form-group(plug="widget")
    label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .mf-note.text-sm(ld="limitation")
    .text-sm.text-muted: div(ld="desc", style="margin:-.6em 0 .7em")
    .m-edit(ld="input"): .my-2
      //- we have to use `label` for options so it will be actual clickable
      .d-flex.g-2.flex-wrap: label.mb-0.mr-2.clickable(ld-each="option",style="line-height:1em")
        input.mr-1(ld="radio",type="radio")
        span(ld="text")
      div(ld="other"): label.clickable.d-flex.align-items-center
        input.mr-1(ld="other-radio",type="radio")
        .mr-2.text-nowrap(ld="other-prompt")
        input.form-control.form-control-sm(type="text",ld="other-text")

    .m-edit: .d-flex.flex-column.g-1: .mf-note.text-sm.note(ld-each="note")
    .m-view(ld="content")
  script(type="@plotdb/block"): include:lsc index.ls
