div
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit(ld="input"): .my-2.has-tips.manual(ld="error-root")
      //- we have to use `label` for options so it will be actual clickable
      //- line-height 1.25em so multiline option (due to long content) looks better
      //- flex box on label to separate text from radiobox even if text wrapped
      .d-flex.g-2.flex-wrap: label.mb-0.mr-2.clickable.d-flex(ld-each="option",style="line-height:1.25em")
        input.mr-1(ld="radio",type="radio")
        span(ld="text")
      div(ld="other"): label.clickable.d-flex.align-items-center
        input.mr-1(ld="other-radio",type="radio")
        .mr-2.text-nowrap(ld="other-prompt")
        input.form-control.form-control-sm(type="text",ld="other-text")
      .hover-tip.tip-sm: div(ld-each="error")
    .m-view(ld="content")
