div
  .form-group(plug="widget")
    label.d-flex.align-items-end
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .text-danger.text-sm(ld="limitation")
    .text-sm.text-muted: div(ld="desc", style="margin:-.6em 0 .7em")
    .m-edit(ld="input")
      label.mr-3.mb-3.clickable(ld-each="option")
        input.mr-1(ld="radio",type="radio")
        span(ld="text")
    .m-edit: .text-danger.text-sm.mt-2.note(ld-each="note")
    .m-view(ld="content")
  script(type="@plotdb/block"): include:lsc index.ls
